{
	"presets": [
		[
			"next/babel", 
				{
					"preset-env": {
						"exclude": ["es.promise"],
						"corejs": 3,
						"targets": {
							"android": "4.2",
							"chrome": "58",
							"edge": "14",
							"firefox": "52",
							"ie": "11",
							"ios": "8",
							"safari": "9.0",
						},
						"useBuiltIns": "usage",
						"debug": true
					}
				}
		],
		"@zeit/next-typescript/babel",
	],
	"plugins": [
		[
			"module-resolver",
				{
					"root": ["./"],
					"alias": {
						"@components": "./components",
						"@pages": "./pages",
						"@styles": "./styles",
					}
				}
		],
		"inline-react-svg",
	]
}