// Base Styles
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

* {
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	font-size: 10px;
	height: 100%;

	> div {
		height: inherit;
	}
}

// Type Styles
p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.4rem;
    line-height: 1.6em;

	small {
		font-size: .8em;
	}
}

a {
	transition: color .25s $easeInOut;
	backface-visibility: hidden;
	text-decoration: none;
	color: $grey;
	font-family: inherit;

	&:hover {
		color: $darkergrey;
		cursor: pointer;
	}

	&:focus {
		outline: none;
	}
}

h1, h2, h3, h4, h5 {
	font-family: 'Khand', sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		font-size: 1.4rem;
	}
}